/* Add to cart animation */
.buttonCart {
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid var(--viola);
  color: var(--white);
  transition: all 0.2s ease-in-out;
  background: transparent;
}
.buttonCart:hover {
  transform: scale(1.05);
  background: var(--viola);
  color: var(--white);
}
