:root[data-theme="dark"] {
  --gr-viola: linear-gradient(90deg, #8a2be2, #00bfff);
  --bg-viola: #111827;
  --viola: #8a2be2;
}
:root[data-theme="light"] {
  --gr-viola: linear-gradient(90deg, #8a2be2, #00bfff);
  --bg-viola: #ffffff;
  --viola: #8a2be2;
}

/* Fonts */
@font-face {
  font-family: "ByteBounce";
  src:
    local("ByteBounce"),
    url("../fonts/ByteBounce.ttf") format("truetype");
  font-weight: normal;
}
/* Fonts */
@font-face {
  font-family: "Star-Crush";
  src:
    local("star-crush"),
    url("../fonts/star-crush.regular.ttf") format("truetype");
  font-weight: bold;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--bg-viola);
}

/* Util */
.byte-bounce {
  font-family: "ByteBounce";
}
.star-crush {
  font-family: "Star-Crush";
}

.gr-viola {
  background: var(--gr-viola);
  background-clip: text;
  color: transparent;
}
.bg-viola {
  background-color: var(--bg-viola);
}
.viola {
  color: var(--viola);
}
.border-viola {
  border: 1px solid var(--viola);
}

.separator {
  color: rgba(29, 31, 60);
  opacity: 100%;
}
.glowing {
  text-shadow: 0 0 10px #8a2be24d;
}
.container-manual {
  padding-left: 100px;
  padding-right: 100px;
}
@media only screen and (max-width: 992px) {
  .container-manual {
    padding-left: 20px;
    padding-right: 20px;
  }
}
