.buttonLogin {
  background-color: transparent;
}
.registerButton {
  color: var(--light-blue);
}
.inputLog {
  border: solid black 1px;
  width: 150px;
  padding: 5px;
  position: relative;
  display: inline;
}
/* REGISTER */

.pass-reg-hidden {
  position: relative;
  display: inline;
}

.pass-reg-hidden > span {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  right: 5%;
}

.check-terms {
  position: relative;
  height: 70px;
  background-color: rgb(247, 112, 112);
  padding: 10px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-reg .bi.bi-file-x-fill {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 10px;
  font-size: 30px;
}

/* ADMIN PANEL */

.list-all-user {
  display: flex;
  gap: 20px;
}

.arrow-list-all-user {
  cursor: pointer;
}

.li-all-user {
  display: flex;
  align-items: center;
  gap: 40px;
}

.delete-user {
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 8px;
}
.container-manual {
  padding-left: 100px;
  padding-right: 100px;
}
